@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

.hover-item
  position: absolute
  background-color: rgb(255, 255, 255)
  padding: 10px

.q-collapsible-sub-item .q-card
  margin-bottom: 20px
    
@media screen and (min-width: 768px)
  .q-collapsible-sub-item .q-card
    margin-bottom: 0px

  div.term-card
    width: 400px
    min-height: 100px
    margin-right: 20px
    